@import "../node_modules/bootstrap/scss/bootstrap";

@import "../node_modules/bootstrap/scss/variables";

.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row > * {
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 575px) {
  #top .row {
    justify-content: space-between;
  }
  .top-left,
  .top-right {
    width: auto;
  }
}

@media (min-width: 992px) {
  .carouselslider {
    .slick-next {
      right: 8px !important;
    }

    .slick-prev {
      left: 8px !important;
    }
  }

  .container {
    max-width: 1500px;
  }
}

.carouselslider {
  .slick-next {
    width: 50px !important;
    height: 50px !important;
    right: 20px !important;

    &::before {
      font-size: 50px !important;
      opacity: 1 !important;
      border-radius: 50%;
      color: #fdc600 !important;
    }
  }

  .slick-prev {
    width: 50px !important;
    height: 50px !important;
    left: 20px !important;
    z-index: 10 !important;
    &::before {
      font-size: 50px !important;
      opacity: 1 !important;
      border-radius: 50%;
      color: #fdc600 !important;
    }
  }
}

@media (max-width: 1440px) {
  .carouselslider {
    .slick-next {
      width: 34px !important;
      height: 34px !important;
      &::before {
        font-size: 34px !important;
      }
    }

    .slick-prev {
      width: 34px !important;
      height: 34px !important;
      &::before {
        font-size: 34px !important;
      }
    }
  }
}

@media (max-width: 767px) {
  .carouselslider {
    .slick-next {
      width: 30px !important;
      height: 30px !important;
      &::before {
        font-size: 30px !important;
      }
    }

    .slick-prev {
      width: 30px !important;
      height: 30px !important;
      &::before {
        font-size: 30px !important;
      }
    }
  }
}

@media (max-width: 575px) {
  .carouselslider {
    .slick-next {
      width: 20px !important;
      height: 20px !important;
      &::before {
        font-size: 20px !important;
      }
    }

    .slick-prev {
      width: 20px !important;
      height: 20px !important;
      &::before {
        font-size: 20px !important;
      }
    }
  }
}

.hoverUnderlineStyle {
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    margin: auto;
    background: #777777;
    left: 0;
    bottom: 0;
    transform: scale(0, 1);
    transition: transform 0.5s ease;
  }
  &:hover::after {
    transform: scale(1, 1);
  }
}

/* Products Tab */

.productsTitle {
  h3 {
    &::after {
      content: "";
      background-color: #fdc600;
      height: 2px;
      width: 100%;
      display: block;
      margin-top: 10px;
    }
  }
}

.productslider {
  .slick-next {
    width: 30px !important;
    height: 30px !important;
    right: 20px !important;
    top: -80px !important;

    &::before {
      font-size: 30px !important;
      opacity: 1 !important;
      border-radius: 50%;
      color: #fdc600 !important;
    }
  }

  .slick-prev {
    width: 30px !important;
    height: 30px !important;
    right: -40px !important;
    z-index: 10 !important;
    &::before {
      font-size: 30px !important;
      opacity: 1 !important;
      border-radius: 50%;
      color: #fdc600 !important;
    }
  }

  .slick-slide {
    padding-right: 10px;
    padding-left: 10px;
  }
}
