/* Hide the step (up/down arrows) in number input */
.no-step::-webkit-outer-spin-button,
.no-step::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-step {
  -moz-appearance: textfield;
}
